.qrdiv div {
display: contents!important
}

.anzeigennein {
display: none;
}

.anzeigen {
display: none;
}

.anzeigenja {
display: block;
}

.collapse show img {
    max-width: 100%;
    height: auto;
}

.collapse img {
    max-width: 100%;
    height: auto;
}

.code img {
max-width: 80px;
}

.qr-hilfen.btn:empty {
display:none;
}

.qr-hilfen {
margin-bottom: 5px;
}
